:root {
  --navbar-icon-height: 100px;
  --navbar-icon-width: 120px;
}

body,header,main,footer {
  /* z-index: 1500; */
  scroll-behavior: smooth
}
.navbar-brand img {
  height: var(--navbar-icon-height);
  width: var(--navbar-icon-width);
}
#page-content {
  height: 100%;
  width: 100%;
  z-index: var(--bs-backdrop-zindex-1);
  margin-top: calc(var(--navbar-icon-height)*1.5);
  position: relative;
}

#map {
  height: 200px;
}
#background-overlay{
  background-image: url("/images/jetrans-maps@4x-1.webp");
  background-position: 50% 120px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #FFFFFF;
  opacity: 0.15;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
#customer-carousel {
    /* background-color: grey; */
    /* width: 80vw; */
    height: 400px;
    margin: 10px;
    background-image: url("/images/9-scaled-1.jpg");
}
#customer-carousel img{
    height: 400px;
}

/* Crop thumbnail images. */
#gallery {
  img {
    height: 75vw;
    object-fit: cover;
    
    @media (min-width: 576px) {
      height: 35vw;
    }
    
    @media (min-width: 992px) {
      height: 18vw;
    }
  }
}

 /* Crop images in the carousel */
.carousel-item {
  img {
    height: 60vw;
    object-fit: cover;
    
    @media (min-width: 576px) {
      height: 350px;
    }
    @media (min-width: 768px) {
        height: 500px;
      }
    @media (min-width: 992px) {
        height: 650px;
      }
    @media (min-width: 1200px) {
        height: 750px;
      }
  }
}

.modal-dialog {
    height: 90%; /* = 90% of the .modal-backdrop block = %90 of the screen */
  }
.modal-content {
  height: 100%; /* = 100% of the .modal-dialog block */
}
.modal-backdrop {
  /* z-index: 1; */
}